html,
body,
#root{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#homePag {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00ffff;
}

.teste_ {
  background-color: chocolate;
  padding: 12px;
  width: 220px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.teste_ p {
  margin: 0;
}

.CapaAlbum {
  width: 200px;
  height: 200px;
  border-radius: 5%;
  display: block;
  margin-bottom: 8px;
}

.tituloAlbum_ {
  font-size: 22px;
  font-weight: bold;
}

.infoDesc_,
.infoIndicacao {
  display: flex;
  gap: 6px;
  font-size: 12px;
}

.Indicado {
  font-size: 11px;
  opacity: 0.8;
}

.album-card {
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
  border: 3px solid red;  
}

#root {
  display: flex;
}